


@import "/css/links.css";

@import "/css/intro.css";

@import "/css/grid.css";


* {
  box-sizing: border-box;
  }
  
  .col-9 {
  width:50%
  }
  
  .col-3 {
  width:50%
  }
  
  
  #plink {
border: none;
background-color: #990000;
color: #ffd;
padding: 2px;  
font-size: 20px;
}

#plink:hover, #plink:active {

  background-color: #990000;


}




  body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  }

  
 
  
  
  .socl {
  margin:0;
  }
  
  .fetty {
  height:400px;
  width:100%;
  box-shadow: 5px 5px #990000;
  
  }
  
  .blogimg {
  box-shadow: 5px 5px #990000 ;
  height: 330px;
  width:200px ;
  }
  
  
  /* Style the header */
  .header {
  background-color: #f03a17;
  padding: 1px;
  text-align: center;
  font-size: 35px;
  letter-spacing: 5px;
  line-height: 30px;
  color:#fff;
  font-family: 'Permanent Marker', cursive;
  width:100%;
  
  text-decoration: underline;
  }
  
  /* Container for flexboxes */
  .row {
  
  display: flex;
  }
  
  /* Create three unequal columns that sits next to each other */
  .column {
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  margin:10px;
  }
  
  /* Left and right column */
  
  
  nav {
  
  background-color:#F1F1D4 ;
  
  
  }
  
  
  .blogt {
  font-family: 'Teko', sans-serif;
  font-size: 35px;
  color:#f03a17;
  text-decoration: underline;
  }
  

#feth {
  font-family: 'Teko', sans-serif;
  font-size: 35px;
  color:#fff;
  text-decoration: underline;

}
  
  
  .fetp {
  width:100%;
  background-color: #990000;
  height:auto;
  box-sizing: border-box;
  
}
  
  .flex-container {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  width:700px;
  padding: 10px;
  
  }
  
  .flex-container > div {
  background-color: #f1f1f1;
  width: 100%;
  margin-top: 10px;
  text-align: justify;
  
  }
  
  
  
  
  
  .fetc {
  padding: 15px;
  background-color: #F1F1D4;
  border: 5px solid #f03a17;
  width: 500px;
  }
  
  .column.one {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 4;
  background-color:#F1F1D4 ;
  border: 5px solid #990000;
  height:450px;
  
  }
  
  .column.two {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 4;
  background-color:#CCCC66 ;
  border: 5px solid #990000;
  height:450px;
  
  }
  
  .column.three {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 4;
  background-color:#F1F1D4 ;
  border: 5px solid #990000;
  height:450px;
  
  }
  
  
  
  
  
  /* Style the footer */
  .footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
  .row {
  -webkit-flex-direction: column;
  flex-direction: column;
  width:100% ;
  padding: auto;
  }
  
 


  .fetty {
  height:220px;
  width:250px;
  
  }
  
  .blogt {
  
  font-size: 27px;
  
  }
  
  
  
  
  
  
  
  .flex-container {
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align:center;
  padding: auto;
  
  
  }
  
  .fetc {
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align:center;
  padding: 10px;
  width: auto;
  height: auto;
  }
  
  
  .fetp {
  width:100%;
  background-color: #990000;
  height:auto;
  box-sizing: border-box;
padding: 5px;  
}
  
  .header {
  
  font-size: 17px;
  
  }
  
  
  
  
  
  
  
  
  }
  
  
  
  
  
  
  @media (max-width: 1024px) {
  
  .row {
  
  flex-direction: column;
  
  }
  }
  
  
  
  
  
  
  
  
  .col-9 {
  
  width: 100%;
  
  }
  
  .col-3 {
  width: 100%;
  
  
  }
  
  

  
  .val {
  display: grid;
  grid-template-areas:
  'menu main main main right right'
  'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  width:500px;
  }
  
  .val > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  }